<launch>
  <node
    pkg="cv_basics"
    type="cam1_sub.py"
    name="cam1_sub"
    output="screen"
  />

 <node
    pkg="cv_basics"
    type="cam2_sub.py"
    name="cam2_sub"
    output="screen"
  />

 <node
    pkg="cv_basics"
    type="cam3_sub.py"
    name="cam3_sub"
    output="screen"
  />

</launch>
